<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCButtonDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34C684E71F4D566E009FD470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34C685001F4D566E009FD470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34C6850B1F4D566E009FD470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
